<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="LoginDataProvider">
  <test thread-count="5" name="LoginFromFileInput">
    <classes>
      <class name="TestCases.LoginDataProvider">
	       
      </class>
    </classes>
  </test> <!-- LoginFromFileInput -->
</suite> <!-- LoginDataProvider -->
